:root {
  --darkBG: #1f2937;
  --whiteTextBG: #f9faf8;
  --grayTextBG: #e5e7eb;
  --grayBG: #787e88;
  --blueTextBG: #3882f6;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
  font-size: 18px;
  color: var(--grayTextBG);
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header,
.hero {
  background-color: var(--darkBG);
}

.quote {
  background-color: var(--grayTextBG);
}

.logo {
  color: var(--whiteTextBG);
  font-size: 24px;
  margin: 15px 0;
}

.nav-bar .links {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 15px;
}

.hero-content {
  margin: 150px 0;
}

.hero-content h1 {
  margin: 0;
  font-size: 48px;
  font-weight: 600;
  color: var(--whiteTextBG);
}

.hero-content p {
  margin: 0;
  font-size: 18px;
  color: var(--grayTextBG);
}

.hero-btn {
  color: var(--whiteTextBG);
  background-color: var(--blueTextBG);
  border: 1px solid var(--blueTextBG);
  border-radius: 5px;
  font-size: 18px;
  margin-top: 10px;
  padding: 6px 30px;
}

.img-placeholder img {
  max-width: 500px;
  height: auto;
  object-fit: contain;
}

.random-info .container {
  flex-direction: column;
  margin-bottom: 100px;
}

.container h2 {
  font-size: 36px;
  font-weight: 800;
  color: var(--darkBG);
  margin-bottom: 50px;
}

.img-flex {
  display: flex;
  gap: 40px;
  text-align: center;
  color: var(--darkBG);
}

.img-boxes {
  width: 150px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.img-box {
  width: 150px;
  height: 150px;
  border: 5px solid var(--blueTextBG);
  border-radius: 15px;
}

.quote .container {
  flex-direction: column;
  padding: 50px;
  margin-bottom: 100px;
}

.quote .container p {
  color: var(--darkBG);
  font-size: 36px;
  font-weight: light;
  font-style: italic;
  margin: 0;
}

h3 {
  margin: 0;
  margin-right: 50px;
  align-self: flex-end;
}

.action .container {
  margin-bottom: 100px;
}

.call-to-action {
  width: 1000px;
  padding: 50px;
  background-color: var(--blueTextBG);
  border: 5px solid var(--blueTextBG);
  border-radius: 10px;
  display: flex;
  justify-content: space-around;
}

.left {
  display: flex;
  flex-direction: column;
}

.left h4,
p {
  margin: 0;
  color: var(--whiteTextBG);
}

.call-to-action .hero-btn {
  border: 2px solid var(--whiteTextBG);
}
